@charset "utf-8";

@font-face {
    font-family: 'SchoolSafetyDinosaurEgg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-1@1.0/HakgyoansimGongryongalR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* ===================
   title
=================== */
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.title-wrap {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

/* 공통 */
html, body{width: 100%; height: 100%;;margin: 0;}

.title {
  position: absolute;
  margin: 0;
  font-size: 2.5rem;
  font-family: 'SchoolSafetyDinosaurEgg';
  white-space: nowrap;
}

/* 아래 레이어 (테두리 역할) */
.title.shadow {
  color: #000;
  transform: translate(2px, 2px);
  z-index: 1;
  opacity: 0.6;
}

/* 위 레이어 (메인) */
.title.main {
  background: linear-gradient(
    90deg,
    #d62598,
    #fff,
    #d62598
  );

  background-size: 200% auto;
  animation: shine 3s linear infinite;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  z-index: 2;
}


/* ===================
   background
=================== */

.game-wrap{
  position: relative;

  display: flex;
  gap: 40px;
  padding: 40px;

  background: url("../images/base/bg.png") no-repeat center center / cover;
  background-attachment: fixed;
  overflow: hidden;

  min-height: 100vh;
}

.game-wrap::before {
  content: "";
  position: absolute;
  inset: -20px;

  background: inherit;
  filter: blur(2.5px);
  transform: scale(1.1);

  z-index: 0;
}

.game-wrap > * {
  position: relative;
  z-index: 1;
}


/* ===================
   Layout
=================== */

.character {
  width: min(300px, 70vw);
  max-width: 320px;

  aspect-ratio: 1138 / 2154;

  position: relative;
  margin: auto;

  left: 30px;
}


.character img{
    max-width: 100%;
    height: auto;
}


#hair-back { z-index: 1; }
#base      { z-index: 2; }
#hair      { z-index: 4; }
#cloth     { z-index: 3; }
#shoes     { z-index: 2; }
button {z-index: 99;}


/* ===================
   Common Layer
=================== */

.layer {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: contain;
  cursor: grab;
}

.layer:active {
    cursor: grabbing;
}


/* ===================
   Base
=================== */

#base {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.items {
  position: relative;
  right: 4rem;
  width: 25rem;
}

.item-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  margin-bottom: 50px;
}

.item-group img {
  width: 100%;
  cursor: pointer;

  transition: transform 0.2s ease;
  transform-origin: center;

  margin: auto;
  display: block;
}

.item-group img:hover {
  transform: scale(1.3);
  z-index: 10;
  position: relative;
}


.item-group img:active {
  transform: scale(0.95);
}


/* ===================
   Hair
=================== */

.hair, .hair-back {
    width: auto;
}

#hair-items{
    position: relative;
    top: 4rem;
}

/* ===================
   Clothes
=================== */
#cloth{
  width: auto;
}

/* ===================
   Shoes
=================== */

.shoes {
  width: auto;
}


/* ===================
   button
=================== */
.reset-btn{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 100px;
    height: 100px;
    background-color: #fff;
    font-size: 1.3rem;
    font-family: 'SchoolSafetyDinosaurEgg';
    color: #d62598;
    border-radius: 3.5rem;
    border: none;
    box-shadow: 0 6px #b31f7a, 0 10px 15px rgba(0,0,0,0.25);
    transition: all 0.15s ease;
}

.reset-btn:hover{
    background-color: #d62598;
    color: #fff;
}

.reset-btn:active{
    transform: translateY(4px);

    box-shadow: 0 2px 0 #b31f7a,
                0 5px 8px rgba(0,0,0,0.2);
}

.save-btn{
  position: absolute;
  bottom: 2rem;
  left: 9rem;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 3.5rem;
  border: none;
  font-family: 'SchoolSafetyDinosaurEgg';
  font-size: 1.3rem;
  color: #d62598;
  box-shadow: 0 6px #b31f7a;
  cursor: pointer;
}

.save-btn:hover{
    background-color: #d62598;
    color: #fff;
}

.save-btn:active{
    transform: translateY(4px);

    box-shadow: 0 2px 0 #b31f7a,
                0 5px 8px rgba(0,0,0,0.2);
}

/* ===================
   BGM Control
=================== */

.bgm-control {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 9999;
}

#bgmBtn {
  background: #fff;
  border: none;

  padding: 12px 18px;
  border-radius: 2rem;

  font-family: 'SchoolSafetyDinosaurEgg';
  font-size: 1.1rem;
  color: #d62598;

  cursor: pointer;

  box-shadow: 0 4px #b31f7a;
  transition: all 0.15s ease;
}

#bgmBtn:hover {
  background: #d62598;
  color: #fff;
}

#bgmBtn:active {
  transform: translateY(3px);

  box-shadow: 0 2px #b31f7a;
}
